@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your app.css file */
.hover\:bg-light-blue:hover {
    background-color: #D9E2FE; /* Light transparent blue */
}
.hover\:text-dark-blue:hover {
    color: 
    #003CFB; /* Darker blue, adjust the hex code as needed */
}
.bottom-right-radius {
    padding: 0.5rem; /* Adjust as per your need */
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
    border-bottom-left-radius: 1.0rem;
    border-bottom-right-radius: 0.rem;
    /* Add any other styles like background-color, border, etc., as needed */
}

.bottom-left-radius {
    padding: 0.5rem; /* Adjust as per your need */
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
    border-bottom-left-radius: 0.rem;
    border-bottom-right-radius: 1.0rem;
    /* Add any other styles like background-color, border, etc., as needed */
}




